
<template>
  <div class="data-table">
    <div class="main-table">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th class=""></th>
          <th v-for="column in columns" :key="column" @click="sortByColumn(column)"
              class="">
            {{ column | columnHead }}
            <span v-if="column === sortedColumn">
                            <i v-if="order === 'asc' " class="fas fa-arrow-up"></i>
                            <i v-else class="fas fa-arrow-down"></i>
            </span>
          </th>
        </tr>
        </thead>
        <tbody>
               <title-modal>
                        <h3 slot="header">Edit Title</h3>
              </title-modal>
               <company v-for="item in tableData" :key="item.id" :row="item"></company>
        </tbody>
      </table>

    </div>
   <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  
                  <li class="page-item" :class="{'disabled' : currentPage === 1}">
                       <a class="page-link" href="#" @click.prevent="changePage(currentPage - 1)">&laquo;</a>
                  </li>
                  <li v-for="page in pagesNumber" class="page-item"
                     :class="{'active': page == pagination.meta.current_page}">
                    <a href="javascript:void(0)" @click.prevent="changePage(page)" class="page-link">{{ page }}</a>
                  </li>
                  <li class="page-item" :class="{'disabled': currentPage === pagination.meta.last_page }">
                    <a class="page-link" href="#" @click.prevent="changePage(currentPage + 1)">&raquo;</a>
                </li>
                   <span style="margin-top: 8px;"> &nbsp; <i>Displaying {{ pagination.data.length }} of {{ pagination.meta.total }} entries.</i></span>
                </ul>
 </div>


</template>





<script type="text/ecmascript-6">


const Company = {
  template: `
    <tr>
     <td v-text="row.id"></td>
      <td v-text="row.policy_name"></td>
      <td v-text="row.overtime_type"></td>
      <td>
         <a @click.prevent="toggleModal(row)" href="#"><small class="badge badge-danger"><i class="fa fa-edit"></i> </small></a> &nbsp;
         <a href="#" @click.prevent="deleteTitle(row)"><small class="badge badge-danger"><i class="fa fa-times"></i> </small></a>
      </td>
    </tr>
  `,
  data() {
    return {
   
      modalComponent:null,
    }
  },
  props: ['row'],
  methods: {
    toggleModal(row) {
      Event.$emit('toggleModal', row);

    },
    deleteTitle(row) {
      Event.$emit('deleteTitle', row);

    },

  },

};


const TitleModal = {
  template: `
    <div class="modal" :class="{ 'is-active': active }">
      <div class="modal-background"></div>
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">
                
            <div class="modal-header">
            <slot name="header">
              default header
            </slot>
          </div>


           <div class="modal-body" v-html="modalComponent">
            
            
          </div>
 
             <div class="main-content-panel-footer">
               
                   <button @click.prevent="submitForm()" type="submit" id="submit" class="btn btn-info float-right"> Save</button>
                   <button @click.prevent="active = false" type="button" id="btncancel" class="btn btn-info float-right"> Cancel</button>
         
             

            </div>
          </div>
        </div>
        <button @click.prevent="active = false" class="modal-close is-large" aria-label="close"></button>
    </div>
  `,
  data() {
    return {
      active: false,
      modal: false,
      delete:false,
     modalComponent:null,
     
    }
  },
  methods: {
    show() {
      this.active = true;
    },
   submitForm(){
       
         var frm = $('#frmusertitle');
          

        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $('#myModal').modal('hide');
            },
            error: function (data) {
                console.log('An error occurred.');
                console.log(data);
            },
        });
       
        this.active = false;
        this.fetchData(this.modal);
   },
    fetchData(item){
      this.$root.$emit('reloadlist',item);
    },
  },
  created() {

    

    Event.$on('toggleModal', (row) => {
      //this.modal = row;
              axios.get(`/admin/usertitle/edit/${row.id}`).then((response) => {

                    this.modalComponent = response.data;

                     
                 });
      this.show();
    });

    Event.$on('deleteTitle', (row) => {
      //this.modal = row;
       axios.delete(`/admin/usertitle/delete/${row.id}`).then(() => { 
        this.fetchData(this.modal);
          
        });
      
    });



  },


};

//import Modal from './Modal.vue';

export default {
  props: {
    fetchUrl: { type: String, required: true },
    columns: { type: Array, required: true },
  },
  data() {
    return {
      tableData: [],
      url: '',
      pagination: {
        meta: { to: 1, from: 1 }
      },
      offset: 5,
      currentPage: 1,
      perPage: 5,
      sortedColumn: this.columns[0],
      order: 'asc',
modalComponent:null,
   
    }
          
  },
 components: { Company,  TitleModal},
  watch: {
    fetchUrl: {
      handler: function(fetchUrl) {
        this.url = fetchUrl
      },
      immediate: true
    }
  },
  created() {
    return this.fetchData();

  },
  computed: {
    /**
     * Get the pages number array for displaying in the pagination.
     * */
    pagesNumber() {
      if (!this.pagination.meta.to) {
        return []
      }
      let from = this.pagination.meta.current_page - this.offset
      if (from < 1) {
        from = 1
      }
      let to = from + (this.offset * 2)
      if (to >= this.pagination.meta.last_page) {
        to = this.pagination.meta.last_page
      }
      let pagesArray = []
      for (let page = from; page <= to; page++) {
        pagesArray.push(page)
      }
      return pagesArray
    },
    /**
     * Get the total data displayed in the current page.
     * */
    totalData() {
      return (this.pagination.meta.to - this.pagination.meta.from) + 1
    }
  },
  methods: {
    fetchData() {
      let dataFetchUrl = `${this.url}?page=${this.currentPage}&column=${this.sortedColumn}&order=${this.order}&per_page=${this.perPage}`
      axios.get(dataFetchUrl)
        .then(({ data }) => {
          this.pagination = data
          this.tableData = data.data
        }).catch(error => this.tableData = [])
    },
    /**
     * Get the serial number.
     * @param key
     * */
    serialNumber(key) {
      return (this.currentPage - 1) * this.perPage + 1 + key
    },
    /**
     * Change the page.
     * @param pageNumber
     */
    changePage(pageNumber) {
      this.currentPage = pageNumber
      this.fetchData()
    },
    /**
     * Sort the data by column.
     * */
    sortByColumn(column) {
      if (column === this.sortedColumn) {
        this.order = (this.order === 'asc') ? 'desc' : 'asc'
      } else {
        this.sortedColumn = column
        this.order = 'asc'
      }
      this.fetchData()
    },


   
  },
  mounted() {
        this.$root.$on('reloadlist', (item) => {
            this.fetchData();
        });
    },
  filters: {
    columnHead(value) {
      return value.split('_').join(' ').toUpperCase()
    }
  },

  name: 'AdminOvertimePolicyDataTable'
}
</script>

<style scoped>
</style>